body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.header__title{
    background-color: yellow;
}

.photo{
    background-color: white;
}

main aside{
    background-color: blue;
}

footer{
    background-color: cyan;
}

nav{
    background-color: red;
}